.btn {
  padding: 1.6rem 5.6rem;
  color: $white;
  background: $orange;
  border-radius: 4px;
  font-size: 1.6rem;
  border: none;
  transition: all 0.1s ease;
  color: $white;
  cursor: pointer;

  &-sm {
    padding: 0.8rem 1.6rem;
    color: #fff;
    background: #f85c47;
    border-radius: 4px;
    font-size: 1.6rem;
    border: none;
    transition: all 0.1s ease;
    color: #fff;
    cursor: pointer;
  }

  &-lg {
    width: 100%;
    padding: 1.6rem 5.6rem;
    color: #fff;
    background: #f85c47;
    border-radius: 4px;
    font-size: 1.6rem;
    border: none;
    transition: all 0.1s ease;
    color: #fff;
    cursor: pointer;
  }

  &-light {
    border: 1px solid #f85c47;
    padding: 0.8rem 1.6rem;
    color: #f85c47;
    border-radius: 4px;
    font-size: 1.6rem;
    transition: all 0.1s ease;
    cursor: pointer;
    background: #fff;
  }
}

.disabled {
  background-color: #fb9d91;
  cursor: not-allowed;
}
.disabled-light {
  border: 1px solid #fb9d91;
  color: #fb9d91;
  cursor: not-allowed;
}

.btn-disabled {
  // cursor: not-allowed;
  opacity: 0.6;
}

.btn-clickable {
  cursor: pointer;
}
