.navbar {
  &-logout {
    position: absolute;

    bottom: 20px;
    // width: 120px;
    padding: 10px;
    // top: 50%;
    // // right: 50%;
    // transform: translate(-50%, -50%);
  }
  &-logo {
    position: absolute;
    top: 0;
    width: 90px;
    padding-top: 24px;
    // top: 50%;
    // // right: 50%;
    // transform: translate(-50%, -50%);
  }
  &-wrapper {
    background-color: $orange;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0.8rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;

      li {
        display: flex;
        align-items: center;
        padding: 10px 24px;
        color: $white;
        gap: 15px;
        cursor: pointer;

        span {
          font-size: 14px;
        }

        img {
          width: 20px;
        }
      }
    }
  }
}

.selected-route {
  border-left: 4px solid $white;
  background: linear-gradient(
    89.31deg,
    rgba(255, 255, 255, 0.23) 2.62%,
    $orange 100.93%
  );
  box-shadow: 0px 0px 8px 0px $black;
  padding-left: 6px !important;
}

.hidden {
  display: none !important;
}

.success-modal-cross {
  cursor: pointer;
  display: flex;
  justify-content: end;
}

.success-model-close {
  cursor: pointer;
}

.btn-logout {
  border: 1px solid #f96c59;
  padding: 0.8rem 1.6rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.6rem;
  transition: all 0.1s ease;
  cursor: pointer;
  background: #f96c59;
  // background: linear-gradient(
  //   89.31deg,
  //   rgba(255, 255, 255, 0.23) 2.62%,
  //   #f96c59 100.93%
  // );
  box-shadow: 0px 0px 8px 0px #00000026;
}
