.table-container {
  // padding-top: 32px;
  table {
    width: 100%;
    border: 1px solid #e7e6e6;

    border-radius: 4px;
  }

  tr {
    text-align: left;

    th {
      background: #fff3f1;
      padding: 12px;
      font-size: 12px;
    }
    td {
      padding: 12px;
      font-size: 12px;
      border-bottom: 1px solid #e7e6e6;
    }
  }
}

.border-bottom-none {
  border-bottom: none !important;
}

.height-20 {
  height: 20px;
}

.btn-img {
  cursor: pointer;
}

.category-diabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.tooltip {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black;
}

.tooltiptext {
  // visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
