.password-success-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
}

.tick-image {
  width: 6rem;
}

.back-to-login {
  border-radius: 4px;
  font-size: 1.4rem;
  background-color: #f85c47;
  color: #ffffff;
  line-height: 1.936rem;
  padding: 1.6rem 5.6rem 1.6rem 5.6rem;
}

/* .margin-bottom-sm {
  margin-bottom: 2rem;
} */
