* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.empty-password,
.not-same-password {
  font-size: 1.4rem;
}

@media (min-width: 1200px) {
  html {
    /* font-size: 75%; */
    scroll-behavior: smooth;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 88.1%;
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Inter", sans-serif;
}

.empty-password,
.not-same-password {
  color: #ff0000;
  padding-bottom: 1.2rem;
}
