<div class="form-container">
  <!-- <svg id="form-cross">
    <use xlink:href="../../../assets/icons/icons.svg#cross"></use>
  </svg> -->

  <div class="form-main">
    <div id="confirmation-message"></div>

    <div class="form-buttons">
      <button class="btn-light" id="yes">Yes</button>
      <button class="btn-sm" id="no">No</button>
    </div>

    <div class="error-message hidden">
      This category is already a part of some vendor. Please delete the vendor
      first
    </div>

    <!-- <img src="../../../assets/images/delete.png" /> -->
  </div>
</div>