$white: #fff;
$white-light:#fff3f1;
$orange: #f85c47;
$orange-light: #ffe5e1;
$orange-very-light:#f85c4780;
$orange-lightest:#f03e3e;
$gray: #d2d0cf;
$gray-medium:#716d69;
$gray-light: #f6f5f5;
$gray-very-light:#e7e6e6;
$gray-lightest:#fb9d91;
$gray-lightest-100:#8c8884;
$red: #ff0000;
$text: #3b3a38;
$gray-500: #716d69;
$gray-800: #474643;
$gray-900:#605D5A;
$black:#0f0f0f33;
$blue: #160054;
$blue-light: #14014b;
$border: rgba(255, 255, 255, 0.2);
$input-border: #986ac5;
$shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
$shadow-btn: 0px 0px 50px rgba(243, 103, 255, 0.3);
$nav-icon-background: linear-gradient(
  89.31deg,
  rgba(255, 255, 255, 0.13) 2.62%,
  #f85c47 100.93%
);
