/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

a {
  text-decoration: none;
}

/* Remove list styles (bullets/numbers) */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/*
      Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
      - The "symbol *" part is to solve Firefox SVG sprite bug
   */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #3b3a38;
  font: 500 1rem/1.6 "Inter", arial;
}

.btn {
  padding: 1.6rem 5.6rem;
  color: #fff;
  background: #f85c47;
  border-radius: 4px;
  font-size: 1.6rem;
  border: none;
  transition: all 0.1s ease;
  color: #fff;
  cursor: pointer;
}
.btn-sm {
  padding: 0.8rem 1.6rem;
  color: #fff;
  background: #f85c47;
  border-radius: 4px;
  font-size: 1.6rem;
  border: none;
  transition: all 0.1s ease;
  color: #fff;
  cursor: pointer;
}
.btn-lg {
  width: 100%;
  padding: 1.6rem 5.6rem;
  color: #fff;
  background: #f85c47;
  border-radius: 4px;
  font-size: 1.6rem;
  border: none;
  transition: all 0.1s ease;
  color: #fff;
  cursor: pointer;
}
.btn-light {
  border: 1px solid #f85c47;
  padding: 0.8rem 1.6rem;
  color: #f85c47;
  border-radius: 4px;
  font-size: 1.6rem;
  transition: all 0.1s ease;
  cursor: pointer;
  background: #fff;
}

.disabled {
  background-color: #fb9d91;
  pointer-events: none;
}

.disabled-light {
  border: 1px solid #fb9d91;
  color: #fb9d91;
  pointer-events: none;
}

.disabled-cross {
  opacity: 0.6;
  pointer-events: none;
}

.btn-disabled {
  opacity: 0.6;
}

.btn-clickable {
  cursor: pointer;
}

.w-60 {
  width: 60px;
}

/*

.disabled {
  background-color: $gray-lightest;
  cursor: not-allowed;
}
*/
main {
  background-color: #ffe5e1;
}
main .auth-container {
  display: grid;
  grid-gap: 130px;
  grid-template-columns: 1fr auto;
  height: 100vh;
}
main .auth-left {
  padding-top: 3rem;
  padding-left: 3rem;
  background-color: #ffe5e1;
  flex: 1;
  margin-right: -4rem;
}
main .auth-left-innerBox {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
main .auth-left .welcome-message {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.269rem;
}
@media only screen and (min-width: 1280px) {
  main .auth-left .welcome-message {
    display: flex;
    flex-direction: column;
    gap: 126px;
  }
}
@media only screen and (min-width: 1440px) {
  main .auth-left .welcome-message {
    display: flex;
    flex-direction: column;
    gap: 245px;
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 5.269rem;
  }
}
main .auth-left .welcome-message .bold {
  font-weight: bold;
}
main .auth-left .logo-image {
  width: 14.3rem;
}
@media only screen and (min-width: 1280px) {
  main .auth-left .vendor-image {
    width: 26.1rem;
    height: 24rem;
    aspect-ratio: 4/2;
  }
}
@media only screen and (min-width: 1440px) {
  main .auth-left .vendor-image {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/2;
  }
}
main .auth-right {
  background-color: #fff;
  padding: 30px 0;
  border-radius: 5rem 0 0 5rem;
  box-shadow: 0 0 2rem 0 rgba(248, 92, 71, 0.5019607843);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  main .auth-right {
    width: 745px;
  }
}
@media only screen and (min-width: 1440px) {
  main .auth-right {
    width: 895px;
  }
}
main .auth-right .login-form {
  width: 446px;
}
main .auth-right .login-heading {
  font-size: 3.2rem;
  font-weight: 600;
  color: #3b3a38;
  margin-bottom: 0.5rem;
}
main .auth-right .login-description {
  font-size: 16px;
  font-weight: 400;
  color: #3b3a38;
  margin-bottom: 3.2rem;
}
main .auth-right .fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
main .auth-right .fieldWrapper .emailwrapper .label {
  margin-bottom: 10px;
}
main .auth-right .fieldWrapper .passwordEyeWrapper {
  position: relative;
}
main .auth-right .fieldWrapper .passwordEyeWrapper .closedEyeImage {
  position: absolute;
  top: 70%;
  right: 0;
  transform: translate(-50%, -50%);
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
}
main .auth-right .hidden {
  display: none;
}
main .auth-right .authencity,
main .auth-right .not-email-password,
main .auth-right .not-password,
main .auth-right .not-email,
main .auth-right .wrong-email,
main .auth-right .wrong-email-or-password,
main .auth-right .weak-password,
main .auth-right .repeated-password {
  color: #ff0000;
  font-size: 1.4rem;
  padding-top: 1rem;
}
main .auth-right .login-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-top: 3.2rem;
  margin-bottom: 5.6rem;
  color: #716d69;
  width: 446px;
}
main .auth-right .login-bottom .remember-me-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
main .auth-right .login-bottom .remember-me-container span {
  font-weight: 400;
  font-size: 14px;
}
main .auth-right .login-bottom #forgotPassword {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
main .auth-right-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .empty-field-border {
  border: 2px solid #ff0000 !important;
}
main input[type=email],
main input[type=password],
main input[type=text] {
  background-color: #f6f5f5;
  padding: 1.2rem;
  border: 1px solid #d2d0cf;
  width: 100%;
  outline: none;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  margin-top: 8px;
}
main .label {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}
main .empty-password,
main .not-same-password {
  font-size: 1.4rem;
  color: #ff0000;
  padding-bottom: 1.2rem;
}
main .password-success-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
}
main .tick-image {
  width: 6rem;
}
main .reset-password-bottom {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main ::-moz-placeholder {
  color: #d2d0cf;
}
main ::placeholder {
  color: #d2d0cf;
}
main .reset-password-exprire {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  cursor: default;
}
main .login-button {
  width: 446px;
}

.margin-bottom-md {
  padding-bottom: 4rem;
}

.margin-bottom-sm {
  padding-bottom: 2rem;
}

.margin-top-lg {
  margin-top: 4.5rem;
}

.padding-top-md {
  padding-top: 4rem;
}

.padding-top-sm {
  padding-top: 2rem;
}/*# sourceMappingURL=login.css.map */