/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

a {
  text-decoration: none;
}

/* Remove list styles (bullets/numbers) */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/*
      Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
      - The "symbol *" part is to solve Firefox SVG sprite bug
   */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #3b3a38;
  font: 500 1rem/1.6 "Inter", arial;
  background: #fbf9f8;
}

.btn {
  padding: 1.6rem 5.6rem;
  color: #fff;
  background: #f85c47;
  border-radius: 4px;
  font-size: 1.6rem;
  border: none;
  transition: all 0.1s ease;
  color: #fff;
  cursor: pointer;
}
.btn-sm {
  padding: 0.8rem 1.6rem;
  color: #fff;
  background: #f85c47;
  border-radius: 4px;
  font-size: 1.6rem;
  border: none;
  transition: all 0.1s ease;
  color: #fff;
  cursor: pointer;
}
.btn-lg {
  width: 100%;
  padding: 1.6rem 5.6rem;
  color: #fff;
  background: #f85c47;
  border-radius: 4px;
  font-size: 1.6rem;
  border: none;
  transition: all 0.1s ease;
  color: #fff;
  cursor: pointer;
}
.btn-light {
  border: 1px solid #f85c47;
  padding: 0.8rem 1.6rem;
  color: #f85c47;
  border-radius: 4px;
  font-size: 1.6rem;
  transition: all 0.1s ease;
  cursor: pointer;
  background: #fff;
}

.disabled {
  background-color: #fb9d91;
  pointer-events: none;
}

.disabled-light {
  border: 1px solid #fb9d91;
  color: #fb9d91;
  pointer-events: none;
}

.disabled-cross {
  opacity: 0.6;
  pointer-events: none;
}

.btn-disabled {
  opacity: 0.6;
}

.btn-clickable {
  cursor: pointer;
}

.w-60 {
  width: 60px;
}

/*

.disabled {
  background-color: $gray-lightest;
  cursor: not-allowed;
}
*/
.btn-sm:hover,
.btn-lg:hover {
  background-color: #e04c3c; /* Darker shade example */
}

.margin-bottom-md {
  padding-bottom: 4rem;
}

.margin-bottom-sm {
  padding-bottom: 2rem;
}

.margin-top-lg {
  margin-top: 4.5rem;
}

.padding-top-md {
  padding-top: 4rem;
}

.padding-top-sm {
  padding-top: 2rem;
}

.navbar-logout {
  position: absolute;
  bottom: 20px;
  padding: 10px;
}
.navbar-logo {
  width: 90px;
  padding-top: 24px;
}
.navbar-wrapper {
  background-color: #f85c47;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0.8rem;
  height: 98vh;
  margin: 6px 0px 6px 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 110px;
}
.navbar-wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.navbar-wrapper ul li {
  display: flex;
  align-items: center;
  padding: 10px 24px;
  color: #fff;
  gap: 15px;
  cursor: pointer;
}
.navbar-wrapper ul li span {
  font-size: 14px;
}
.navbar-wrapper ul li img {
  width: 24px;
  height: 22px;
}

.selected-route {
  border-left: 4px solid #fff;
  background: linear-gradient(89.31deg, rgba(255, 255, 255, 0.23) 2.62%, #f85c47 100.93%);
  box-shadow: 0px 0px 8px 0px rgba(15, 15, 15, 0.2);
}

.hidden {
  display: none !important;
}

.success-modal-cross {
  cursor: pointer;
  display: flex;
  justify-content: end;
}

.success-model-close {
  cursor: pointer;
}

.btn-logout {
  border: 1px solid #f96c59;
  padding: 0.8rem 1.6rem;
  color: #f85c47;
  border-radius: 4px;
  font-size: 1.6rem;
  transition: all 0.1s ease;
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1490196078);
}

#purchaseOrderRoute img {
  filter: invert(1);
}

#home-root {
  display: grid;
  grid-template-columns: 186px auto;
}
#home-root main {
  grid-column-start: 2;
}

.hidden {
  display: none;
}

.table-container table {
  width: 100%;
  border: 1px solid #e7e6e6;
  border-radius: 4px;
}
.table-container table thead tr {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: left;
}
.table-container table thead tr th {
  background: #fff3f1;
  padding: 12px;
  font-size: 12px;
  color: #716d69;
  font-weight: 400;
}
.table-container table .table-body {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
.table-container table .table-body tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.table-container table .table-body tr td {
  padding: 12px;
  font-size: 12px;
  border-bottom: 1px solid #e7e6e6;
  color: #474643;
  font-weight: 400;
  word-break: break-all;
}

.border-bottom-none {
  border-bottom: none !important;
}

.height-20 {
  height: 20px;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4b0ac;
  border-radius: 10px;
}

.btn-img {
  cursor: pointer;
}

.category-diabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.download-disable {
  opacity: 50%;
  cursor: default;
  pointer-events: none;
}

.form-container {
  border-radius: 4px;
}
.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #e7e6e6;
}
.form-header-text {
  font-size: 24px;
  font-weight: 500;
}
.form-header div:last-child {
  font-size: 12px;
  cursor: pointer;
}
.form-heading {
  font-size: 16px;
  padding-top: 1rem;
  font-weight: 500;
}
.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 16px;
}
.form-detail-wrapper {
  font-size: 14px;
  display: grid;
  gap: 16px;
}
.form-item {
  display: flex;
  flex-direction: column;
}
.form-item label {
  font-size: 12px;
}
.form-item input,
.form-item select {
  width: 256px;
  border: 1px solid rgba(15, 15, 15, 0.2);
  height: 40px;
  border-radius: 4px;
  padding: 8px;
  margin-top: 4px;
}
.form-item input:focus,
.form-item select:focus {
  outline: none;
}
.form-detail-item {
  display: flex;
  justify-content: space-between;
}
.form-detail-item div {
  width: 256px;
}
.form-detail-item div:first-child {
  color: #716d69;
}
.form-detail-item div:last-child {
  color: #474643;
}
.form-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 30px 30px 10px 30px;
}

#form-output {
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(15, 15, 15, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 24px;
  border-radius: 4px;
}

#form-cross {
  cursor: pointer;
  height: 13px;
  width: 13px;
}

#associated-category,
#associated-vendor-type,
#admin-roles,
#status-dropdown-options,
#dropdown-options {
  z-index: 100;
  position: absolute;
  top: 60px;
  background-color: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  max-height: 150px;
  overflow: auto;
  box-shadow: 0px 4px 8px 0px rgba(15, 15, 15, 0.2);
}
#associated-category span,
#associated-vendor-type span,
#admin-roles span,
#status-dropdown-options span,
#dropdown-options span {
  font-size: 12px;
}

.status-dropdown {
  position: absolute;
  top: 60px;
  background-color: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  max-height: 150px;
  overflow: auto;
  box-shadow: 0px 4px 8px 0px rgba(15, 15, 15, 0.2);
}

.empty-field-border {
  border: 2px solid #ff0000 !important;
}

.success-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  gap: 10px;
}
.success-modal img {
  height: 82px;
}
.success-modal div {
  font-size: 20px;
}

.error-message {
  color: #ff0000;
}

.default-cursor {
  cursor: default;
}

.category-dropdown-option {
  display: flex;
  align-items: center;
  gap: 15px;
}
.category-dropdown-option input {
  width: 20px;
}

.vendor-type-dropdown-option {
  display: flex;
  align-items: center;
  gap: 15px;
}
.vendor-type-dropdown-option input {
  width: 20px !important;
}
.vendor-type-dropdown-option span {
  font-size: 12px !important;
}

.associated-category-wrapper {
  position: relative;
}
.associated-category-wrapper .category-inner-wrapper,
.associated-category-wrapper .vendor-inner-wrapper,
.associated-category-wrapper .relative-inner-wrapper {
  position: relative;
}
.associated-category-wrapper .category-inner-wrapper .dropdown-icon,
.associated-category-wrapper .vendor-inner-wrapper .dropdown-icon,
.associated-category-wrapper .relative-inner-wrapper .dropdown-icon {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

.align-center {
  text-align: center;
}

.already-exists {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#confirmation-message {
  font-size: 15px;
  text-align: center;
}

.vendor-actions {
  display: flex;
  gap: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.po-header {
  display: flex;
  justify-content: space-between;
}

.exsq-address {
  line-height: 1.3;
  padding-bottom: 10px;
}

.required:after {
  content: " *";
  color: red;
}

.vendor-nav {
  display: flex;
  gap: 18px;
  padding-top: 10px;
  font-size: 12px;
  cursor: pointer;
  color: #3b3a38;
}
.vendor-nav .selected {
  border-bottom: 2px solid #f85c47;
  font-weight: 700;
}

.address-header {
  font-size: 12px;
  font-weight: 700;
}
.address-header #copy-billing-to-shipping {
  cursor: pointer;
  color: #f85c47;
}

.vendor-contact {
  display: flex;
  gap: 16px;
}

.salutation {
  width: 80px !important;
}

.v-first-name,
.v-last-name {
  width: 200px !important;
}

#salutation-dropdown {
  z-index: 100;
  position: absolute;
  top: 60px;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  max-height: 150px;
  overflow: auto;
  box-shadow: 0px 4px 8px 0px rgba(15, 15, 15, 0.2);
}
#salutation-dropdown span {
  font-size: 12px;
}

.vendor-form-tabs {
  max-height: 400px;
  overflow: auto;
  padding: 10px;
}

.address-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.address-wrapper textarea {
  padding: 5px;
  resize: none;
  border: 1px solid rgba(15, 15, 15, 0.2);
  border-radius: 4px;
}
.address-wrapper textarea:focus {
  outline: none;
}

.tpo-tr {
  display: flex;
}
.tpo-tr .tpo-td {
  padding: 0 !important;
}
.tpo-tr .tpo-td textarea {
  height: 70px;
  resize: none;
  padding: 10px;
  border: 1px solid #e7e6e6;
  resize: none;
  width: 170px;
}
.tpo-tr .tpo-td textarea:focus {
  outline: none;
}
.tpo-tr .tpo-td input:focus {
  outline: none;
}

.text-and-error {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 24px 32px 0px 32px;
}
.container .top-heading {
  font-size: 24px;
  padding-bottom: 24px;
  color: #474643;
  font-weight: 500;
}
.container .statistics-container {
  display: flex;
  gap: 1.6rem;
  padding-bottom: 32px;
}
.container .statistics-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 8px 0px rgba(15, 15, 15, 0.2);
  border: 1px solid #e7e6e6;
  padding: 2.4rem;
  flex-basis: 100%;
  border-radius: 4px;
  background: #fff;
}
.container .statistics-card-left {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.container .statistics-card-left p {
  font-size: 1.4rem;
  color: #605D5A;
  font-weight: 400;
}
.container .statistics-card-left h2 {
  font-size: 3.2rem;
}
.container .statistics-card-right {
  width: 7rem;
}
.container .add-search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 28px;
}
.container .add-search-wrapper .search-container {
  display: flex;
  border: 1px solid #e7e6e6;
  padding: 0;
  gap: 12px;
  justify-content: center;
  align-items: stretch;
  border-radius: 4px;
  background: #fff;
}
.container .add-search-wrapper .search-container .search-icon {
  height: 16px;
  width: 16px;
  margin: 10px;
}
.container .add-search-wrapper .search-container .search-cross-icon {
  height: 16px;
  width: 16px;
  margin: 10px;
  cursor: pointer;
}
.container .add-search-wrapper .search-container input {
  outline: none;
  border: none;
  width: 350px;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.1;
  filter: alpha(opacity=10);
  overflow: none;
  pointer-events: none;
}

::-moz-placeholder {
  color: #8c8884;
}

::placeholder {
  color: #8c8884;
}

#add-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.plus-icon {
  height: 14px;
  width: 14px;
}

.status {
  padding: 4px 8px 4px 8px;
  border-radius: 16px;
  text-align: center;
  display: inline-block;
}

.active {
  color: #14ae6d;
  background-color: #e7f5f0;
}

.pending {
  color: #d68d00;
  background: rgba(214, 141, 0, 0.1019607843);
}

.inactive {
  color: #f03e3e;
  background: rgba(240, 62, 62, 0.1019607843);
}

.notFoundWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 100px;
}
.notFoundWrapper div img {
  height: 250px;
}
.notFoundWrapper .no-text {
  font-size: 14px;
}

.overflow-hidden {
  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
  font-size: 13px;
  margin-top: 10px;
}

.pagination-arrows {
  display: flex;
  gap: 2px;
}

.disabled-arrow {
  pointer-events: none;
  opacity: 0.5;
}

.pagination-left-arrow,
.pagination-right-arrow {
  border: 1px solid black;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 4px;
  border-radius: 100%;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.loader,
.loader div {
  box-sizing: border-box;
}

.loader {
  display: inline-block;
  color: #f85c47;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
}

.loader div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 8px;
  animation: loader1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: 8px;
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: 32px;
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: 56px;
  animation: loader3 0.6s infinite;
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.po-form-container {
  padding: 20px 30px;
}
.po-form-container form {
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding-bottom: 10px;
}
.po-form-container form #associated-dropdown {
  z-index: 100;
  position: absolute;
  top: 40px;
  left: 280px;
  background-color: #fff;
  padding: 10px;
  width: 320px;
  border-radius: 4px;
  max-height: 150px;
  overflow: auto;
  box-shadow: 0px 4px 8px 0px rgba(15, 15, 15, 0.2);
}
.po-form-container form #associated-dropdown .vendor-type-dropdown-option {
  display: flex;
  align-items: center;
  gap: 15px;
}
.po-form-container form #associated-dropdown .vendor-type-dropdown-option input {
  width: 20px;
}
.po-form-container .btn-and-total-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
}
.po-form-container .btn-and-total-wrapper .total-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #fff3f1;
  width: 300px;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 12px;
}
.po-form-container .btn-and-total-wrapper .total-wrapper .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}
.po-form-container .btn-and-total-wrapper .total-wrapper .flex p {
  padding: 6px;
}
.po-form-container .btn-and-total-wrapper .total-wrapper .flex .input-container {
  position: relative;
  width: 100px; /* Adjust the width as needed */
}
.po-form-container .btn-and-total-wrapper .total-wrapper .flex .input-container #percentage-input,
.po-form-container .btn-and-total-wrapper .total-wrapper .flex .input-container #tcs-input {
  width: 100%; /* Full width to the container */
  padding-right: 20px; /* Space for the percentage symbol */
  box-sizing: border-box; /* Include padding in the width */
  border: 1px solid rgba(15, 15, 15, 0.2);
  border-radius: 4px;
  padding: 2px 5px;
}
.po-form-container .btn-and-total-wrapper .total-wrapper .flex .input-container #percentage-input:focus,
.po-form-container .btn-and-total-wrapper .total-wrapper .flex .input-container #tcs-input:focus {
  outline: none;
}
.po-form-container .btn-and-total-wrapper .total-wrapper .flex .input-container .percentage-symbol {
  position: absolute;
  right: 10px; /* Adjust this value to position the symbol */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Allow clicking through the symbol */
  color: #666; /* Adjust color as needed */
}
.po-form-container .btn-and-total-wrapper .total-wrapper .amount-right p {
  padding: 6px;
}
.po-form-item label {
  font-size: 12px;
}
.po-form-item input,
.po-form-item select {
  width: 320px;
  border: 1px solid rgba(15, 15, 15, 0.2);
  height: 40px;
  border-radius: 4px;
  padding: 8px;
}
.po-form-item input:focus,
.po-form-item select:focus {
  outline: none;
}
.po-form-detail-item {
  display: flex;
  justify-content: space-between;
}
.po-form-detail-item div {
  width: 256px;
}
.po-form-detail-item div:first-child {
  color: #716d69;
}
.po-form-detail-item div:last-child {
  color: #474643;
}
.po-form-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 30px 30px 10px 30px;
}
.po-item-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.po-item-container .flex form {
  padding: 10px 30px 0 0;
  align-items: center;
}
.po-item-container .flex form input {
  width: 150px;
}

.bold {
  font-weight: 800;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.save-or-cancel {
  box-shadow: 0px 4px 8px 0px rgba(15, 15, 15, 0.2);
  position: sticky;
  bottom: 0;
  background: #fff;
}

.email-wrapper {
  padding: 20px 30px;
}
.email-box {
  border: 1px solid #d2d0cf;
  font-size: 15px;
  border-radius: 6px;
}
.email-box .toolbar {
  border-top: 1px solid #d2d0cf;
  border-bottom: 1px solid #d2d0cf;
  padding: 10px;
  background: #ffe5e1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.email-box .toolbar button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.email-box .toolbar button.active {
  background-color: #e9e9e9;
}
.email-box .editor {
  border: 1px solid #ccc;
  border: none;
  max-height: 300px;
  overflow: auto;
  padding: 10px;
}
.email-box .editor:focus {
  outline: none;
}
.email-header {
  display: flex;
  gap: 30px;
  padding: 10px;
}
.email-input {
  display: block;
  border: none;
  font-size: 14px;
  height: 24px;
}
.email-input:focus {
  outline: none;
}
.email-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d2d0cf;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  margin-top: 20px;
}
.email-footer .email-pdf {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px dotted #d2d0cf;
  padding: 6px 15px;
  border-radius: 6px;
}
.email-footer .email-pdf img {
  height: 30px;
}

.po-item-dropdown {
  z-index: 100;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  width: 320px;
  border-radius: 4px;
  max-height: 150px;
  overflow: auto;
  box-shadow: 0px 4px 8px 0px rgba(15, 15, 15, 0.2);
}
.po-item-dropdown p {
  font-size: 12px;
  text-transform: uppercase;
}
.po-item-dropdown div {
  border-bottom: 1px solid rgba(15, 15, 15, 0.2);
  font-size: 10px;
  cursor: pointer;
}
.po-item-dropdown div span {
  padding: 8px 8px 10px 0;
  color: #d2d0cf;
}
.tpo-td {
  position: relative;
}

.autofill-vendor {
  padding: 10px 0 20px 0;
  display: flex;
  gap: 30px;
  width: 600px;
  justify-content: end;
}
.autofill-vendor h4 {
  font-size: 13px;
}
.autofill-vendor p {
  font-size: 13px;
}

.display-block {
  display: block;
}

#dropdown-options-for-po {
  z-index: 100;
  position: absolute;
  top: 40px;
  left: 172px;
  background-color: #fff;
  padding: 10px;
  width: 320px;
  border-radius: 4px;
  max-height: 150px;
  overflow: auto;
  box-shadow: 0px 4px 8px 0px rgba(15, 15, 15, 0.2);
}

input[type=radio] {
  width: 20px !important;
}

.radio-center {
  display: flex;
  align-items: center;
  gap: 6px;
}
.radio-center span {
  font-size: 12px;
}

.form-scroll {
  max-height: 600px;
  overflow: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#cost-description,
#selling-description {
  width: 150px;
  height: 50px;
  resize: none;
  padding: 8px;
  border: 1px solid rgba(15, 15, 15, 0.2);
}

.email-subject {
  width: 350%;
}

.add-item-btn {
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}

.add-item-btn:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.po-item-container {
  max-height: 500px;
  overflow: auto;
  padding-right: 12px;
}

.w-300 {
  width: 300px;
}

.delete-button {
  position: absolute;
  top: 50%;
  /* right: -50px; */
  transform: translate(0, -50%);
  cursor: pointer;
  color: red;
}

.btn-and-total-wrapper {
  display: flex;
  justify-content: end;
  padding-top: 10px;
}
.btn-and-total-wrapper .total-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #fff3f1;
  width: 300px;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 12px;
}
.btn-and-total-wrapper .total-wrapper .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}
.btn-and-total-wrapper .total-wrapper .flex p {
  padding: 6px;
}
.btn-and-total-wrapper .total-wrapper .flex .input-container {
  position: relative;
  width: 100px; /* Adjust the width as needed */
}
.btn-and-total-wrapper .total-wrapper .flex .input-container #percentage-input,
.btn-and-total-wrapper .total-wrapper .flex .input-container #tcs-input {
  width: 100%; /* Full width to the container */
  padding-right: 20px; /* Space for the percentage symbol */
  box-sizing: border-box; /* Include padding in the width */
  border: 1px solid rgba(15, 15, 15, 0.2);
  border-radius: 4px;
  padding: 2px 5px;
}
.btn-and-total-wrapper .total-wrapper .flex .input-container #percentage-input:focus,
.btn-and-total-wrapper .total-wrapper .flex .input-container #tcs-input:focus {
  outline: none;
}
.btn-and-total-wrapper .total-wrapper .flex .input-container .percentage-symbol {
  position: absolute;
  right: 10px; /* Adjust this value to position the symbol */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Allow clicking through the symbol */
  color: #666; /* Adjust color as needed */
}
.btn-and-total-wrapper .total-wrapper .amount-right p {
  padding: 6px;
}

textarea {
  font-family: "Inter";
}

.flex-gap {
  display: flex;
  gap: 5px;
  align-items: center;
}

.dashboard-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-wrapper button {
  margin-bottom: 24px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.wrapper {
  display: flex;
  gap: 25px;
}

.expenditure-stats-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}

.expenditure-card-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.expenditure-card-stats div {
  border-radius: 4px;
  padding: 10px;
}
.expenditure-card-stats div p:first-child {
  font-size: 16px;
}
.expenditure-card-stats div p:last-child {
  font-size: 20px;
}

.expenditure-right-wrapper {
  width: 100%;
}

.total-expenditure-card {
  background: #fff3f1;
  border: 1px solid #ffcec7;
  padding: 18px 24px 18px 24px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.total-expenditure-card p:first-child {
  font-size: 14px;
  font-weight: 500;
}
.total-expenditure-card p:last-child {
  font-size: 24px;
  font-weight: 600;
}

.expenditure-graph-wrapper {
  background-color: #fff;
  display: flex;
  border: 1px solid #e7e6e6;
  padding: 16px;
  border-radius: 4px;
  width: 300px;
}

.graph-wrapper {
  background-color: #fff;
  display: flex;
  border: 1px solid #e7e6e6;
  padding: 16px;
  border-radius: 4px;
}

.expenditure-container {
  background-color: #fff;
  border: 1px solid #e7e6e6;
  padding: 16px;
  border-radius: 4px;
}
.expenditure-container .dashboard-amount {
  font-size: 24px;
  font-weight: 600;
}
.expenditure-container .cards-info-text {
  font-size: 14px;
  font-weight: 400;
  color: #716d69;
  padding: 7px 0 5px 0;
}
.expenditure-header {
  display: flex;
  justify-content: space-between;
}
.expenditure-header .total-expenditure {
  font-size: 16px;
  font-weight: 400;
}
.expenditure-header .view-all {
  font-size: 12px;
  color: #0446ff;
}
.expenditure-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.expenditure-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 50px 8px 20px;
  background: #fbfbfb;
  border: 1px solid #e7e6e6;
  border-radius: 4px;
}
.expenditure-card img {
  height: 35px;
}
.expenditure-card div p:first-child {
  font-size: 18px;
}
.expenditure-card div p:last-child {
  font-size: 14px;
  color: #8c8884;
}

.vendor-wrapper {
  width: 340px;
  background-color: #fff;
  display: flex;
  border: 1px solid #e7e6e6;
  padding: 16px;
  border-radius: 4px;
}
.vendor-wrapper div:first-child {
  border-right: 1px solid #e7e6e6;
  padding-right: 16px;
}
.vendor-wrapper div:first-child p:first-child {
  font-size: 16px;
}
.vendor-wrapper div:first-child p:last-child {
  font-size: 24px;
}
.vendor-wrapper div:last-child {
  padding-left: 16px;
}
.vendor-wrapper div:last-child p {
  font-size: 14px;
  font-weight: 400;
  color: #8c8884;
}
.vendor-wrapper div:last-child p span {
  font-size: 18px;
  font-weight: 600;
  color: #474643;
}

.dashboard-table-container {
  width: 70%;
}
.dashboard-table-container table {
  border: 1px solid #e7e6e6;
  border-radius: 4px;
}
.dashboard-table-container table thead tr {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: left;
}
.dashboard-table-container table thead tr th {
  background: #fff3f1;
  padding: 12px;
  font-size: 12px;
  color: #716d69;
  font-weight: 400;
}
.dashboard-table-container table .table-body {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
.dashboard-table-container table .table-body tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.dashboard-table-container table .table-body tr td {
  padding: 12px;
  font-size: 12px;
  border-bottom: 1px solid #e7e6e6;
  color: #474643;
  font-weight: 400;
  word-break: break-all;
}/*# sourceMappingURL=main.css.map */