/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

a {
  text-decoration: none;
}

/* Remove list styles (bullets/numbers) */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/*
      Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
      - The "symbol *" part is to solve Firefox SVG sprite bug
   */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #3b3a38;
  font: 500 1rem/1.6 "Inter", arial;
}

.btn {
  padding: 1.6rem 5.6rem;
  color: #fff;
  background: #f85c47;
  border-radius: 4px;
  font-size: 1.6rem;
  border: none;
  transition: all 0.1s ease;
  color: #fff;
  cursor: pointer;
}
.btn-sm {
  padding: 0.8rem 1.6rem;
  color: #fff;
  background: #f85c47;
  border-radius: 4px;
  font-size: 1.6rem;
  border: none;
  transition: all 0.1s ease;
  color: #fff;
  cursor: pointer;
}
.btn-lg {
  width: 100%;
  padding: 1.6rem 5.6rem;
  color: #fff;
  background: #f85c47;
  border-radius: 4px;
  font-size: 1.6rem;
  border: none;
  transition: all 0.1s ease;
  color: #fff;
  cursor: pointer;
}
.btn-light {
  border: 1px solid #f85c47;
  padding: 0.8rem 1.6rem;
  color: #f85c47;
  border-radius: 4px;
  font-size: 1.6rem;
  transition: all 0.1s ease;
  cursor: pointer;
  background: #fff;
}

.disabled {
  background-color: #fb9d91;
  cursor: not-allowed;
}

.disabled-light {
  border: 1px solid #fb9d91;
  color: #fb9d91;
  cursor: not-allowed;
}

.margin-bottom-md {
  padding-bottom: 4rem;
}

.margin-bottom-sm {
  padding-bottom: 2rem;
}

.margin-top-lg {
  margin-top: 4.5rem;
}

.padding-top-md {
  padding-top: 4rem;
}

.padding-top-sm {
  padding-top: 2rem;
}

.navbar-logo {
  position: absolute;
  top: 20px;
  width: 120px;
  padding: 10px;
}
.navbar-wrapper {
  background-color: #f85c47;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0 0.8rem 0.8rem 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.navbar-wrapper ul li {
  display: flex;
  align-items: center;
  padding: 10px 24px;
  color: #fff;
  gap: 15px;
  cursor: pointer;
}
.navbar-wrapper ul li div {
  font-size: 15px;
}
.navbar-wrapper ul li img {
  width: 20px;
}

.selected-route {
  border-left: 4px solid white;
  background: linear-gradient(89.31deg, rgba(255, 255, 255, 0.23) 2.62%, #f85c47 100.93%);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1490196078);
  padding-left: 20px !important;
}

.hidden {
  display: none !important;
}

.success-modal-cross {
  display: flex;
  justify-content: end;
}

#home-root {
  margin-left: 12rem;
}

.hidden {
  display: none;
}

.table-container table {
  width: 100%;
  border: 1px solid #e7e6e6;
  border-radius: 4px;
}
.table-container tr {
  text-align: left;
}
.table-container tr th {
  background: #fff3f1;
  padding: 12px;
  font-size: 12px;
}
.table-container tr td {
  padding: 12px;
  font-size: 12px;
  border-bottom: 1px solid #e7e6e6;
}

.border-bottom-none {
  border-bottom: none !important;
}

.height-20 {
  height: 20px;
}

.form-container {
  border-radius: 4px;
}
.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #e7e6e6;
}
.form-header div:first-child {
  font-size: 24px;
}
.form-header div:last-child {
  font-size: 12px;
  cursor: pointer;
}
.form-heading {
  font-size: 16px;
  padding: 1.2rem 0 1.2rem 0;
  font-weight: 500;
}
.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.form-detail-wrapper {
  font-size: 14px;
  display: grid;
  gap: 16px;
}
.form-item {
  display: flex;
  flex-direction: column;
}
.form-item label {
  font-size: 12px;
}
.form-item input,
.form-item select {
  width: 256px;
  border: 1px solid rgba(15, 15, 15, 0.2);
  height: 40px;
  border-radius: 4px;
  padding: 8px;
}
.form-item input:focus,
.form-item select:focus {
  outline: none;
}
.form-detail-item {
  display: flex;
  justify-content: space-between;
}
.form-detail-item div {
  width: 256px;
}
.form-detail-item div:first-child {
  color: #716d69;
}
.form-detail-item div:last-child {
  color: #474643;
}
.form-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 30px 30px 10px 30px;
}

#form-output {
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1490196078);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 24px;
  border-radius: 4px;
}

#form-cross {
  height: 13px;
  width: 13px;
}

#associated-category,
#associated-vendor-type,
#admin-roles {
  position: absolute;
  top: 60px;
  background-color: white;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  max-height: 150px;
  overflow: auto;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.0784313725);
}

.empty-field-border {
  border: 2px solid red !important;
}

.success-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  gap: 10px;
}
.success-modal img {
  height: 82px;
}
.success-modal div {
  font-size: 20px;
}

.error-message {
  color: #ff0000;
}

.default-cursor {
  cursor: default;
}

.category-dropdown-option {
  display: flex;
  align-items: center;
  gap: 15px;
}
.category-dropdown-option input {
  width: 20px;
}

.vendor-type-dropdown-option {
  display: flex;
  align-items: center;
  gap: 15px;
}
.vendor-type-dropdown-option input {
  width: 20px;
}

.associated-category-wrapper {
  position: relative;
}
.associated-category-wrapper .category-inner-wrapper,
.associated-category-wrapper .vendor-inner-wrapper {
  position: relative;
}
.associated-category-wrapper .category-inner-wrapper .dropdown-icon,
.associated-category-wrapper .vendor-inner-wrapper .dropdown-icon {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

.dropdown-icon-wrapper input {
  cursor: default;
}

.email-exists {
  text-align: center;
  font-size: 12px;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#confirmation-message {
  font-size: 15px;
  text-align: center;
}

.vendor-actions {
  display: flex;
  gap: 15px;
}

.container {
  padding: 3.2rem 6.2rem;
}
.container .top-heading {
  font-size: 24px;
  padding-bottom: 20px;
}
.container .statistics-container {
  display: flex;
  gap: 1.6rem;
  padding-bottom: 32px;
}
.container .statistics-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1019607843);
  border: 1px solid #e7e6e6;
  padding: 2.4rem;
  flex-basis: 100%;
  border-radius: 4px;
}
.container .statistics-card-left {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.container .statistics-card-left div:first-child {
  font-size: 1.4rem;
}
.container .statistics-card-left div:last-child {
  font-size: 3.2rem;
}
.container .statistics-card-right {
  width: 7rem;
}
.container .add-search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.container .add-search-wrapper .search-container {
  display: flex;
  border: 1px solid #e7e6e6;
  padding: 10px;
  gap: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.container .add-search-wrapper .search-container .search-icon {
  height: 16px;
  width: 16px;
}
.container .add-search-wrapper .search-container input {
  outline: none;
  border: none;
  width: 350px;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.1;
  filter: alpha(opacity=10);
  overflow: none;
}

::-moz-placeholder {
  color: #8c8884;
}

::placeholder {
  color: #8c8884;
}

#add-button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.plus-icon {
  height: 14px;
  width: 14px;
}

.status {
  padding: 4px 8px 4px 8px;
  border-radius: 16px;
  text-align: center;
  display: inline-block;
}

.active {
  color: #14ae6d;
  background-color: #e7f5f0;
}

.inactive {
  color: #f03e3e;
  background: rgba(240, 62, 62, 0.1019607843);
}

.notFoundWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 100px;
}
.notFoundWrapper div img {
  height: 250px;
}
.notFoundWrapper .no-text {
  font-size: 14px;
}

.overflow-hidden {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */